.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    margin-top: 50px;
    color: blue;
  }
  .chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: 60%;
  }
  button {
    margin-top: 50px;
  }
}