<!-- HISTORICAL VIEW -->

<div class="main" *ngIf="!leaveScreen">
  <div class="title">
    <h1>{{city}}´s historical temperatures</h1>
  </div>
  <div class="chart">
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </div>
  <!-- <button type="button" class="btn btn-info">Leave Historical</button> -->
  <a routerLink="/temperatures"><button type="button" class="btn btn-info">Leave Historical</button></a>
</div>
