<!-- CURRENT TEMPERATURES VIEW -->
<div class="main" *ngIf="!home && !showHistorical">
  <div class="title">
    <h1>Current temperatures</h1>
  </div>
  <ul class="container">
    <li class="card" *ngFor="let city of citiesNewInfo">
      <div class="card-body">
        <h5 class="card-title">{{city.name}}</h5>
        <p class="card-text">The actual temperature in {{city.name}} is <strong>{{city.main.temp}} ºC</strong></p>
        <button type="button" class="btn btn-primary" (click)="getHistorical(city.name)">Show Historical</button>
      </div>
    </li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="goHome()">Home</button>
</div>

<!-- HISTORICAL VIEW -->
<historical-component *ngIf="showHistorical"
  [city]="city">
</historical-component>

<!-- HOME VIEW -->
<app-root *ngIf="home"></app-root>