<!-- CURRENT TEMPERATURES VIEW -->
<div class="main">
  <div class="title">
    <h1>Current temperatures</h1>
  </div>
  <ul class="container">
    <li class="card" *ngFor="let city of citiesNewInfo">
      <div class="card-body">
        <h5 class="card-title">{{city.name}}</h5>
        <p class="card-text">The actual temperature in {{city.name}} is <strong>{{city.temp}} ºC</strong></p>
        <a [routerLink]="['/historical', city.name]"><button type="button" class="btn btn-primary">Show Historical</button></a>
      </div>
    </li>
  </ul>
  <a routerLink="/home"><button type="button" class="btn btn-primary">Home</button></a>
</div>